/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: 'Kamerik 105 Cyrillic Bold';
  src: url('../fonts/Kamerik_105_Cyrillic_Bold.otf') format('otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Kamerik 105 Cyrillic Book';
  src: url('../fonts/Kamerik_105_Cyrillic_Book.otf') format('otf');
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*.content {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Kamerik 105 Cyrillic Book', 'Helvetica', Arial, sans-serif !important;;
}

.header-menu ul{
  width: 1260px;
  display: flex;
  justify-content: center;
  align-content: space-between;
}*/

body {
  background-color: #fff;
  font-family: 'Helvetica', 'Open Sans Condensed', sans serif;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0 0 0;
}

.date {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 200;
}

.show-more {
  position: relative;
  background-image: url('../img/kalitki.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  max-height: 1500px;
  text-align: center;
  margin: 40px 0;
  padding: 40px 0;
}

.show-more button {
  margin: 50px auto;
}

h1 p {
  font-size: 104px;
  line-height: 104px;
  margin: 30px 0;
  background: linear-gradient(180deg, #D6C180 33%, #C1AC63 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 1260px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 100%;
  }
  .sub-header {
    width: 100% !important;
    word-wrap: break-word;
  }

  .text-with-images {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1024px) {
  .food-cort-row {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .header .menu ul  {
    display: block !important;
  }
  .text-with-images.right-text img {
    margin: 0 !important;
  }
  .text-with-images img {
    margin: 0 !important;
  }
  .text-with-images {
    padding: 0;
  }
  .text-block {
    text-align: left !important;
  }
  .show-more {
    min-height: 500px;
  }
  .text-with-images {
    margin: 0 !important;
  }
  .img-block.sub {
    margin-bottom: 45px !important;
  }
  .sponsors-block .row img {
    width: 100%;
  }
}

.header .menu {
  width: 100%;
}

.header .menu ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.header .menu ul a {
  margin-bottom: 30px;
}

.header .menu ul li:last-child {
  margin-right: 10px;
}

.header .menu ul a {
  text-decoration: none;
  font-family: 'Helvetica', 'Open Sans Condensed', sans serif;
  color: #0A0A0A;
  font-size: 18px;
}

.header .menu ul a:hover {
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .header  {
    flex-direction: column;
  }
  .header .menu ul {
    flex-direction: column;
    align-self: center;
  }
  .header .menu ul li {
    margin: 5px;
  }
}

.body {
  width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  float: left;
  background-color: #262425;
}

.footer-body {
  width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  padding: 36px 0;
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
}

.footer-body h4 {
  margin: 0 0 36px 0;
}

.footer-body img {
  margin-right: 12px;
}

.footer-body strong {
  font-weight: bold;
}

.footer-body a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

@media screen and (max-width: 1260px) {
  .body {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-body {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.btn {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 18px;
}

.btn.blue {
  background-color: #2AA5ED;
  border-radius: 5px;
  border: none;
  padding: 20px 60px;
  color: #fff;
}

.btn.blue:hover {
  background-color: #2cb2ff;
}

.full-width-img {
  width: 100%;
  margin: 45px 0;
}

.glider-contain {
  margin-top: 80px;
}

.glider-contain .buttons {
  position: absolute;
  left: 50%;
}

.glider-contain .buttons button {
  width: 41px;
  height: 41px;
  background-image: url('../img/arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2AA5ED;
}

.glider-contain .buttons button.disabled {
  background-color: #3E6278;
}

.glider-contain .buttons .glider-prev {
  top: 0;
  left: -41px;
}

.glider-contain .buttons .glider-next {
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.where {
  font-size: 28px;
  display: grid;
  grid-template-columns: 45% 1fr;
  margin: 45px 0;
}

.where img {
  width: 32px;
  height: 32px;
}

.text-block {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  margin: 45px 0;
  float: left;
  width: 100%;
}

.text-block h2 {
  padding: 40px 0;
}

.text-block h4 {
  margin: 10px 0;
}

.text-block ul {
  margin: 0;
  padding: 0;
  list-style:none;
  line-height: 23px;
}

.text-block ul li {
  padding: .3em 0 .3em 40px;
  background-image: url('../img/rectangle.png');
  background-position: left;
  background-repeat: no-repeat;
}

.text-block span.marged {
  margin-left: 40px;
}

.text-block h2 {
  line-height: 40px;
}

.text-block h2 p{
  margin: 0;
}

.sub-header {
  width: 750px;
  margin: 0 auto;
}

#about h2, #menu h2, #program h2, #sponsor h2 {
  padding: 1rem 0;
  font-weight: bold;
}

.sub-header .img-block {
  position: relative;
}

.img-block.sub {
  margin-bottom: 10px;
}

.img-block.sub.along {
  margin: 40px 0;
  float: left;
  width: 100%;
}

.sub-header .img-block img.left{
  position: absolute;
  right: 0;
  top: 42px;
}

.sub-header .img-block img.right{
  position: absolute;
  left: 0;
  top: 42px;
}

.text-row {
  margin-bottom: 20px;
}

.text-row img {
  width: 26px;
  height: 26px;
}

.img-block {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.glider-track .text-block {
  margin: 0;
}

.text-with-images {
  margin-top: 45px;
  float: left;
}

.text-with-images.left-text .text-block {
  margin: 0;
}

.text-with-images.right-text .text-block {
  margin: 0;
}

.text-with-images.right-text {
  float: left;
  margin: 45px 0;
}

.text-with-images.right-text img {
  width: 500px;
  float: right;
  margin: 0 0 0 50px;
}

.text-with-images img {
  width: 500px;
  float: left;
  margin: 0 50px 0 0;
}

.food-cort-row {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.food-cort-row .text-block {
  text-align: left;
}

.food-cort-row.text-with-images {

}

.food-cort-row.text-with-images .text-block {
  margin: 25px 0 0 0;
}

.food-cort-row.text-with-images img {
  margin: 0 0 0 40px;
  width: calc(100% - 40px);
}

.sponsors-block {
  margin: 45px 0;
}

.sponsors-block .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sponsors-block .row img {
  margin: 0 auto;
}

.sponsors-block .row.four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
